/*초기설정*/
* {padding: 0; margin: 0;}
a {text-decoration: none;}
img {vertical-align: middle;}

/*레이아웃*/
#header { width: 1400px; height: 147px; margin: 0 auto; }
#header p {display: inline-block;} /*한줄로 배치*/
#header p a { 
    color: #333; 
    font-size: 18px; 
    font-weight: bold;
    letter-spacing: -1px;

    padding-right: 90px;
}

#header p:hover a { color:#780996;}


/*프랜차이즈버튼*/
#header p.btn { width: 160px; height: 50px; line-height: 50px; 
                background: #780996; text-align: center;
                border-radius: 30px; /*모서리를 둥글게*/
             }


#header p.btn a { padding: 0; color:#fff;}


#main { width: 1400px; height: 687px; background: pink; margin: 0 auto;}

#section { width: 1400px;  text-align: center; margin: 0 auto;}
#section h2 {
    padding-top: 70px; 
    font-size: 36px;
}
#section h2 span { color:#780996;}

#section h4 {
    padding-top: 30px;
    font-size: 18px;
    color:#333;
}

#section table { border-collapse: collapse; margin: 30px auto;}
#section table td { 
    border: 1px solid #ddd;
    color:#777;
    font-size: 14px;
}

#section table td b { 
    text-decoration: line-through; /*취소선*/
} 
#section table td span {
    color:#fd5c26; 
    font-weight: bold;
}


#section table tr.first td {
    background: #f9f7fc;
    font-weight: bold;
    border-top: 2px solid #7c00a0;
}

#section p {
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
    color:#777;
    font-size: 14px;
}
#section p span {
    color:#fd5c26;
}